
.down-arrow {
  position: absolute;
  bottom: 40px; /* Augmentation de la distance par rapport au bas */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-25px); /* Rebond un peu plus haut */
  }
  60% {
    transform: translateX(-50%) translateY(-15px);
  }
}

.down-arrow:hover {
  animation-play-state: paused; /* Met en pause l'animation au survol */
}
